@import url("https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap");

@font-face {
    font-family: "prompt";
    src: url("../fonts/Prompt/Prompt-Regular.ttf");
}
@font-face {
    font-family: "fc-home";
    src: url("../fonts/FC-Home/FC-Home-Regular.ttf");
}
@font-face {
    font-family: "fc-friday";
    src: url("../fonts/FC-Friday/FC-Friday-Medium.ttf");
}

body {
    font-family: "prompt";
    background: rgb(72, 149, 2);
    background: radial-gradient(
        circle,
        rgba(72, 149, 2, 1) 0%,
        rgba(20, 41, 0, 1) 60%
    );
}

#scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #ffc107;
    border: 2px solid #f9fafb;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 9999;
}
#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}
#scroll:hover {
    background-color: #489502;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

#slide {
    margin-top: -30px;
}

.header {
    background-image: url("../images/element/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-web {
    background-image: url("../images/element/light_green.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-top: -60px;
}

.logo {
    max-width: 120px;
}

.header-link {
    color: #f9fafb;
    font-size: 14pt;
}
.header-link:hover {
    color: #ffc107;
}
.nav-item.active a.header-link {
    color: #ffe200;
}

#pretty {
    margin-top: -50px;
}

#content {
    padding-top: 10px;
    margin-top: 10px;
}

.half-circle-left {
    width: 90px;
    height: 200px;
    background-color: gold;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.half-circle-right {
    width: 90px;
    height: 200px;
    background-color: gold;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

#slot {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.bg-slot {
    background-image: url("../images/element/back01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-register {
    background: rgb(248, 232, 180);
    background: linear-gradient(
        180deg,
        rgba(248, 232, 180, 1) 0%,
        rgba(255, 196, 0, 1) 100%
    );
    color: black;
    font-size: 14pt;
    min-width: 200px;
}
.btn-register:hover {
    background: rgb(255, 196, 0, 1);
}

.btn-login {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: 14pt;
    min-width: 200px;
}
.btn-login:hover {
    background: rgba(255, 255, 255, 1);
}

.slot-description {
    color: white;
    font-size: large;
}

#article {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-article-1 {
    background-image: url("../images/element/bg-article-1.png");
    background-position: center;
    background-size: cover;
}

.bg-article-2 {
    background-image: url("../images/element/bg-article-2.png");
    background-position: center;
    background-size: cover;
}

.text-topic-article {
    color: #f9fafb;
    text-shadow: 3px 3px 10px #ffc107;
    border-bottom: 1px solid #ffe200;
}

@media only screen and (min-width: 720px) {
    #slide {
        margin-top: -80px;
    }
    .logo {
        max-width: 175px;
    }
}
